In [11]:
# Task 1: Access table "US_violent_crime.csv"
import numpy as np
import pandas as pd
state=pd.read_csv("US_violent_crime.csv")

In [16]:
#i display categorical data of column 'state' trice
def some_func(x):
  return x*3
state.apply(some_func) 
state.apply(lambda n: n*3)

,State,Murder,Assault,UrbanPop,Rape
0,AlabamaAlabamaAlabama,39.6,708,174,63.6
1,AlaskaAlaskaAlaska,30.0,789,144,133.5
2,ArizonaArizonaArizona,24.3,882,240,93.0
3,ArkansasArkansasArkansas,26.4,570,150,58.5
4,CaliforniaCaliforniaCalifornia,27.0,828,273,121.8
5,ColoradoColoradoColorado,23.7,612,234,116.1
6,ConnecticutConnecticutConnecticut,9.9,330,231,33.3
7,DelawareDelawareDelaware,17.7,714,216,47.4
8,FloridaFloridaFlorida,46.2,1005,240,95.7
9,GeorgiaGeorgiaGeorgia,52.2,633,180,77.4
10,HawaiiHawaiiHawaii,15.9,138,249,60.6
11,IdahoIdahoIdaho,7.8,360,162,42.6
12,IllinoisIllinoisIllinois,31.2,747,249,72.0
13,IndianaIndianaIndiana,21.6,339,195,63.0
14,IowaIowaIowa,6.6,168,171,33.9
15,KansasKansasKansas,18.0,345,198,54.0
16,KentuckyKentuckyKentucky,29.1,327,156,48.9
17,LouisianaLouisianaLouisiana,46.2,747,198,66.6
18,MaineMaineMaine,6.3,249,153,23.4
19,MarylandMarylandMaryland,33.9,900,201,83.4
20,MassachusettsMassachusettsMassachusetts,13.2,447,255,48.9
21,MichiganMichiganMichigan,36.3,765,222,105.3
22,MinnesotaMinnesotaMinnesota,8.1,216,198,44.7
23,MississippiMississippiMississippi,48.3,777,132,51.3
24,MissouriMissouriMissouri,27.0,534,210,84.6
25,MontanaMontanaMontana,18.0,327,159,49.2
26,NebraskaNebraskaNebraska,12.9,306,186,49.5
27,NevadaNevadaNevada,36.6,756,243,138.0
28,New HampshireNew HampshireNew Hampshire,6.3,171,168,28.5
29,New JerseyNew JerseyNew Jersey,22.2,477,267,56.4
30,New MexicoNew MexicoNew Mexico,34.2,855,210,96.3
31,New YorkNew YorkNew York,33.3,762,258,78.3
32,North CarolinaNorth CarolinaNorth Carolina,39.0,1011,135,48.3
33,North DakotaNorth DakotaNorth Dakota,2.4,135,132,21.9
34,OhioOhioOhio,21.9,360,225,64.2
35,OklahomaOklahomaOklahoma,19.8,453,204,60.0
36,OregonOregonOregon,14.7,477,201,87.9
37,PennsylvaniaPennsylvaniaPennsylvania,18.9,318,216,44.7
38,Rhode IslandRhode IslandRhode Island,10.2,522,261,24.9
39,South CarolinaSouth CarolinaSouth Carolina,43.2,837,144,67.5
40,South DakotaSouth DakotaSouth Dakota,11.4,258,135,38.4
41,TennesseeTennesseeTennessee,39.6,564,177,80.7
42,TexasTexasTexas,38.1,603,240,76.5
43,UtahUtahUtah,9.6,360,240,68.7
44,VermontVermontVermont,6.6,144,96,33.6
45,VirginiaVirginiaVirginia,25.5,468,189,62.1
46,WashingtonWashingtonWashington,12.0,435,219,78.6
47,West VirginiaWest VirginiaWest Virginia,17.1,243,117,27.9
48,WisconsinWisconsinWisconsin,7.8,159,198,32.4
49,WyomingWyomingWyoming,20.4,483,180,46.8

In [23]:
# 1.1 Display categorical data of column "state" trice
state.isnull()

    State  Murder  Assault  UrbanPop   Rape
0   False   False    False     False  False
1   False   False    False     False  False
2   False   False    False     False  False
3   False   False    False     False  False
4   False   False    False     False  False
5   False   False    False     False  False
6   False   False    False     False  False
7   False   False    False     False  False
8   False   False    False     False  False
9   False   False    False     False  False
10  False   False    False     False  False
11  False   False    False     False  False
12  False   False    False     False  False
13  False   False    False     False  False
14  False   False    False     False  False
15  False   False    False     False  False
16  False   False    False     False  False
17  False   False    False     False  False
18  False   False    False     False  False
19  False   False    False     False  False
20  False   False    False     False  False
21  False   False    False     False  False
22  False   False    False     False  False
23  False   False    False     False  False
24  False   False    False     False  False
25  False   False    False     False  False
26  False   False    False     False  False
27  False   False    False     False  False
28  False   False    False     False  False
29  False   False    False     False  False
30  False   False    False     False  False
31  False   False    False     False  False
32  False   False    False     False  False
33  False   False    False     False  False
34  False   False    False     False  False
35  False   False    False     False  False
36  False   False    False     False  False
37  False   False    False     False  False
38  False   False    False     False  False
39  False   False    False     False  False
40  False   False    False     False  False
41  False   False    False     False  False
42  False   False    False     False  False
43  False   False    False     False  False
44  False   False    False     False  False
45  False   False    False     False  False
46  False   False    False     False  False
47  False   False    False     False  False
48  False   False    False     False  False
49  False   False    False     False  False

In [27]:
# 1.2 Check any missing values in column 'State" and display sum
state.isnull().sum()

State       0
Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [18]:
# 1.3 Display record stored at 4th row and 3rd column.
state.iloc[4,3]

91

In [15]:
#Sub Question 2

import numpy as np
import pandas as pd
data_df=pd.read_csv("airline_stats.csv")
data_df.describe()

       pct_carrier_delay  pct_atc_delay  pct_weather_delay
count       33440.000000   33440.000000       33440.000000
mean            7.041475       5.089962           0.684776
std             4.497596       4.718647           1.073743
min             0.000000       0.000000           0.000000
25%             4.145455       2.146565           0.000000
50%             6.356893       3.900000           0.316002
75%             9.140474       6.630238           0.935161
max           100.000000     100.000000          33.333333

In [29]:
# 2.1 Check if any null data and display its sum in each column.
null_data = data_df.isnull().sum()
print(null_data)

pct_carrier_delay    28
pct_atc_delay        28
pct_weather_delay    28
airline               0
dtype: int64

NameError: name 'isnull' is not defined

In [46]:
# 2.2 Fill null values by its column mean value.
data_df.fillna(data_df.mean(), inplace=True)

C:\Users\ompan\AppData\Local\Temp\ipykernel_20056\3181550715.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_df.fillna(data_df.mean(), inplace=True)

In [48]:
# 2.3 Again check for null values in each column
null_values_after_fill =data_df.isnull().sum()

pct_carrier_delay    0
pct_atc_delay        0
pct_weather_delay    0
airline              0
dtype: int64